{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Intellimek</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Contact</a>
                <a class="mdl-navigation__link" href="{{ url_for('main.index') }}">Home</a>
                </nav>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content">
                <section>
                    <div class="mdl-grid"></div>
                    <div class="mdl-grid"></div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center"><h3>Inicie sesión</h3></div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </section>
                <section>
                    <div class="mdl-grid"></div>
                    <div class="mdl-grid"></div>
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <form method="post">
                            <div class="mdl-textfield mdl-js-textfield">
                                {{ form.usuario.label(class="mdl-textfield__label") }} {{ form.usuario(class="mdl-textfield__input") }}
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-textfield mdl-js-textfield">
                                {{ form.password.label(class="mdl-textfield__label") }} {{ form.password(class="mdl-textfield__input") }}
                            </div>
                            <div class="mdl-layout-spacer"></div>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
                                Iniciar
                            </button>
                        </form>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </section>
            </div>
        </main>
    </div>
{% endblock %}
