{% extends "base.html" %}
{% import 'estado.html' as estado %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {% if status == "ok" %}
        {{ estado.estado_rodamiento(status,1) }}
    {% else %}
        {% if status == "risk" %}
            {{ estado.estado_rodamiento(status,2) }}
        {% else %}
            {% if status == "danger" %}
                {{ estado.estado_rodamiento(status,3) }}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if current_user.is_authenticated %}
        <div>
            <p>{{ current_user.get_id() }}</p>
        </div>
    {% endif %}
{% endblock %}
