<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>MDL Test</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.min.css">
    <style>
        body, html {
            height: 100%;
        }

        .bg {
            /* The image used */
            background-image: url("/static/fondo3.jpg");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    </head>

    <body class="bg">
        <div class="site mdl-layout mdl-js-layout">
            <header class="mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row">
                <!-- Header Content Here -->
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <!-- Drawer Content -->
            </div>
            <main class="mdl-layout__content">
                <ul class="demo-list-icon mdl-list">
                <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">person</i>
                Bryan Cranston
                </span>
                </li>
                </ul>
            </main>
            <div class="mdl-layout__obfuscator"></div>
        </div>

        <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    </body>
</html>
